body {
  background-image: url(./Images/water-5245722_960_720.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  min-height:600px;
}
.ir{
  color: #fff;
}
.container .card{
  background: rgba(255, 255, 255, 0.5);
}
.card .heading{
  font-size: 30px;
}